.input-reset {
  outline: none;
  border: none;
  background: none;
}

input:focus::-webkit-input-placeholder,
input:focus::-moz-placeholder,
input:focus:-moz-placeholder,
input:focus:-ms-input-placeholder{
  color: transparent;
}
