
// - // Projects variables // - //

// - // Projects main colors // - //

@color-warning:                             #ff7435;
@color-danger:                              #e85715;
@color-success:                             #0ab89d;

@color-base:                                #191919;
@color-label-form:                          #4c4c4c;
@color-placeholder:                         #979696;

@bg-home-reviews:                           #f5f6f4;
@bg-single-room:                            #f6f6f6;
@bg-room:                                   #fafafa;
@bg-section-form:                           #f1f1f1;


//== Typography

@font-family-fira-sans:                     "Fira Sans", "Courier New", Courier, monospace;
@font-family-title-desktop:                 "PT Serif Caption Regular", "Courier New", Courier, monospace;

@font-size-base:                            16px;
@font-size-accent:                          18px;

@font-line-height:                          1.4;
@font-weight-medium:                        500;


@font-size-h1-desktop:                ceil((@font-size-base * 2.25));     // ~36px
@font-size-h2-desktop:                ceil((@font-size-base * 1.85));     // ~30px
@font-size-h3-desktop:                ceil((@font-size-base * 0.875));    // ~14px
@font-size-small:                     ceil((@font-size-base * 0.875));    // ~14px







