// Core variables and mixins

@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/grid";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/responsive-utilities";

@import "scaffolding";

@import "fonts/fonts";
@import "components/variables";
@import "components/control";
@import "components/links";
@import "components/btn";
@import "components/libs";

@import "mixins/mixins";

body{
    margin: 0;
    padding: 0;
    font-family: @font-family-fira-sans;
}

h1, h2, h3, h4, h5, h6, p, ul {
    padding: 0;
    margin: 0;
}

a, a:hover, a:focus, a:active{
    text-decoration: none;
}

li {
    display: inline-block;
}

.fa.fa-calendar-o{
    left: 12%;
}

.brief-info{
    padding: 41px 0;
    .brief-info__title{
        color: @color-base;
        font-family: @font-family-pt-serif-caption;
        padding-bottom: 13px;
        .font-styles(26px,19px,400);
    }
    .brief-info__sum{
        color: @color-base;
        font-family: @font-family-fira-sans;
        text-transform: uppercase;
        .font-styles(14px,24px,500);
        b{
            color: @color-warning;
            font-size: 18px;
        }

    }
}
/*Home via avocode*/

/* Style for "Header" */
.page-header{
    background-color: #ffffff;
    box-shadow: 0.5px 0.9px 0 @border-color;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    .clearfix();

    .page-header__inner{
        max-width: 1200px;
        margin: 0 auto;
        padding: 15px 10px 15px 10px;

        .page-header__main-logo{
            text-align: center;
        }

        .page-header__main-nav{
            padding: 18px 0;
            min-height: 14px;

            .main-nav__item{
                display: inline-block;
                text-transform: uppercase;
                vertical-align: middle;
                margin-left: 10px;
                .font-styles(14px,22px,400);

                .main-nav__link{
                    font-weight: 500;
                    line-height: normal;
                    text-transform: uppercase;
                    &:hover {
                        color: @color-warning;
                    }
                }
                .main-nav__link--active{
                    color: @color-warning;
                    font-weight: 400;
                }
            }

        }

        .page-header__contacts{
            color: @color-base;
            padding: 5px 0 5px 20px;
            .font-styles(14px,18px,400);

            .page-header__phone{
                display: block;
                font-family: @font-family-pt-sans-caption-bold;
                color: @color-base;
                text-transform: uppercase;
                .font-styles(18px,30px,400);
            }
        }

        .page-header__btn{
            padding: 5px 0;
            text-align: right;
        }
    }
}

/* Style for "NavMenu" */

.page-header__sandwich{
    position: absolute;
    right: 33px;
    top: 22px;
    .sandwich{
        padding: 5px;
        display: block;
        span{
            display: block;
            width: 29px;
            height: 5px;
            background: @color-warning;
            margin: 3px 0 0;
        }
    }
}

.main-nav--sliding{
    display: none;
    li{
        display: block;
        a{
            line-height: normal;
            padding: 10px;
            display: block;
        }

    }
}
/* Style for "Promo" */
.promo-slider{
    width: 100%;

    .promo-slider__wrapper{
        padding: 0;
        margin: 0 auto;
        list-style: none;
        text-align: center;
        top: 441px;
        position: relative;

        .promo-slider__pagination li{
            margin-right: 10px;
        }
        .link--underline{
            text-transform: uppercase;
            margin: 0 -10px 0 35px;
            color: #838383;
            .font-styles(14px,1.4,400);

            @media only screen and (max-width: 354px){
                line-height: normal;
                margin: 0 -10px 0 5px;
            }
        }
        .link--underline-active{
            color: @color-warning;
        }
    }

    .promo-slider__list{
        padding: 0;
        margin-bottom: 72px;

        @media only screen and (max-width: 980px){
            margin-top: -72px;
        }
        @media only screen and (max-width: 350px){
            margin-top: -22px;
        }
        @media only screen and (max-width: 300px){
            margin-top: -44px;
        }

        .promo-slider__item{
            width: 100%;
            height: 431px;
            display: none;
            background: url('../img/home/slider.jpg') no-repeat;
            background-size: cover;

            .promo-slider__item-text{
                color: #1c1c1c;
                padding: 90px 15px 0 15px;
                .font-styles(18px,24px,400);

                @media only screen and (max-width: 354px){
                      padding: 10px 15px 0 15px;
                      .font-styles(14px,20px,400);
                }
                .promo-slider__item-title{
                    color: #1c1c1c;
                    margin-bottom: 40px;
                    font-family: @font-family-pt-serif-caption;
                    .font-styles(36px,42px,400);

                    @media only screen and (max-width: 354px){
                        display: block;
                        background-color: #ffffff;
                        margin-bottom: 0;
                        .font-styles(16px,22px,400);
                    }
                    span{
                        background-color: #ffffff;
                        padding: 10px;
                        line-height: 57px;
                        @media only screen and (max-width: 354px){
                            background-color: transparent;
                            line-height: 27px;
                        }
                    }
                }
                p span{
                  background-color: #ffffff;
                  padding: 5px 10px;
                }
                @media only screen and (max-width: 354px){
                  p{
                    background: #ffffff;
                  }
                }
            }
        }

        .promo-slider__item-active{
            display: block;
        }

    }
}

/* Style for "Healthy Rest" */
.healthy-rest{
    background: url('../img/home/sprite_bg.png') no-repeat 50% 50%;

    .healthy-rest__inner{
      font-weight: 300;

        .healthy-rest__slide-item{
            display: none;
            position: relative;
            padding-top: 5.5%;
        }
        .healthy-rest__slide-item-active{
            display: block;
        }

        .healthy-rest__title{
            font-family: @font-family-pt-serif-caption;
            color: @color-base;
            text-align: center;
            margin-bottom: 35px;
            .font-styles(30px,32px,400);
        }

        .healthy-rest__text{
            text-align: center;
            margin-bottom: 35px;
            color: @color-base;
            .font-styles(16px,22px,400);
        }

        .healthy-rest__list{
            text-align: center;
            margin-bottom: 25px;
            text-transform: uppercase;
            font-weight: 500;
            @media only screen and (max-width: 354px){
                display: none;
            }
            .healthy-rest__item{
                vertical-align: top;
                margin-left: 6%;
                text-align: center;
                font-family: @font-family-fira-sans;
                .font-styles(14px,18px,500);
                span{
                    background: url('../img/home/_sprite.png') no-repeat;
                    background-position: 0 0;
                    display: block;
                    width: 80px;
                    height: 80px;
                    margin: 0 auto 15px auto;
                }
                &:first-child{
                    margin-left: 0;
                    @media only screen and (max-width: 980px){
                        margin-left: 6%;
                    }
                }
            }
        }
    }
}

/* Style for "Gallery" */
.gallery{
    padding: 60px 0 40px 0;
    @media only screen and (max-width: 354px){
        display: none;
    }

    .gallery__shown-img-item{
        width: 100%;
        color: #ffffff;
        background: #0c83e7;
        margin: 5px;
        text-align: center;
        .border-radius(3px);
        img{
            width: 100%;
            min-height: 500px;
        }
    }

    #sync2 .owl-wrapper-outer{
        .owl-item .gallery__thumb-item{
            height: 115px;
            width: 100%;
            color: #ffffff;
            background: #C9C9C9;
            margin: 5px;
            text-align: center;
            cursor: pointer;
            .border-radius(3px);

            img{
                width: 100%;
                min-height: 200px;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                .transition();
            }

            &:hover img{
                -webkit-filter: grayscale(0);
                filter: grayscale(0);
            }
        }

        .synced .gallery__thumb-item img{
             -webkit-filter: grayscale(0);
             filter: grayscale(0);
         }
    }

    &+.ex-gallery{
        display: none;
        @media only screen and (max-width: 354px){
            display: block;
            margin-bottom: 50px;
            width: 321px;
            height: 260px;
        }
    }
}

/* Style for "Reviews" */
.reviews{
    overflow:           hidden;
    padding:            65px 0 50px 0;
    background:         #0ab89d url("../img/home/testimonials_img_bg.png") 50% 0 no-repeat;
    background-size:    cover;
    text-align:         center;

    .reviews__title{
        color: #ffffff;
        font-family: @font-family-pt-serif-caption;
        font-size: 30px;
        margin-bottom: 50px;
    }

     .reviews__slider{
          position: relative;
          padding-bottom: 15px;

          .reviews__item{
              margin-right: 10px;
              margin-bottom: 20px;
              margin-top: 20px;

              @media only screen and (max-width: 354px){
                  margin-right: 0;
              }

              .reviews__item-header{
                  background: #ffffff;
                  padding: 1px;
                  height: 120px;
                  .reviews__item-img{
                      margin-top: -20px;
                      img{
                          border: 1px solid #ffffff;
                      }
                  }
              }

              blockquote{
                  margin: 0;
                  padding: 5px 40px 0 40px;
                  background: #ffffff;
                  height: 160px;
                  @media only screen and (max-width: 980px){
                      height: 210px;
                  }
                  @media only screen and (max-width: 354px){
                      height: 240px;
                  }
                  .reviews__item-date{
                      display: block;
                      padding-top: 10px;
                  }
              }
          }
      }

     .customNavigation{
          position: absolute;
          width: 100%;
          height: 100%;
          .prev{
              width: 25px;
              height: 25px;
              position: absolute;
              background: transparent;
              top: 25%;
              left: -30px;
              padding: 0;
              -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
              border: 0 solid transparent;
              border-left: 2px solid #ffffff;
              border-top: 2px solid #ffffff;
              .border-radius(0);
          }
          .next{
              width: 25px;
              height: 25px;
              position: absolute;
              background: transparent;
              top: 25%;
              right: -30px;
              padding: 0;
              -webkit-transform: rotate(135deg);
              -ms-transform: rotate(135deg);
              transform: rotate(135deg);
              border-left: 2px solid #ffffff;
              border-top: 2px solid #ffffff;
              .border-radius(0);
          }
      }

}

/* Style for "Shares" */
.shares{
  padding: 50px 0 0 0;
  margin: 0 auto;
  text-align: center;

      .shares__title{
          color: black;
          font-family: @font-family-pt-serif-caption;
          padding-bottom: 35px;
          font-size: 30px;
      }

      .shares__slide{
          position: relative;
          .shares__slide-information{
              text-align: left;
              position: absolute;
              top: 50%;
              width: 348px;
              height: 117px;
              opacity: 0.95;
              background-color: #ffffff;
              padding: 18px 20px;
              color: @color-base;
              font-family: @font-family-fira-sans;
              .font-styles(16px,20px,400);
              .box-sizing();

              .shares__slide-title{
                  color: @color-warning;
                  text-transform: uppercase;
                  .font-styles(14px,24px,500);
              }

          }
      }

}

/* Style for "Our location" */
.our-location{
    padding: 50px 0 0 0;
    margin: 0 auto;
    text-align: center;

    .our-location__title{
        color: @color-base;
        font-family: @font-family-pt-serif-caption;
        font-size: 30px;
        margin: 30px 0;
    }
    .our-location__map{
        width: 100%;
        height: 400px;
        margin: 8px 0 40px;
    }
}

.transport .transport__list{
    text-align: center;

    .transport__item{
        display: inline-block;
        vertical-align: top;
        padding-bottom: 30px;
        margin-bottom: 40px;
        color: @color-base;
        font-family: @font-family-fira-sans;
        .font-styles(16px,22px,400);

        .transport__title{
            padding:1px 0 5px 0;
            color: @color-base;
            font-family: @font-family-fira-sans;
            text-transform: uppercase;
            .font-styles(14px,24px,500);
        }
        .transport__routes-list{
            text-align: left;
        }
    }
}

/* Style for "Recommendations" */
.recommendations{
    padding: 65px 0 50px 0;
    background: url("../img/home/off_bg.png") no-repeat;
    background-size: cover;
    text-align: center;
    .recommendations__inner{
        .recommendations__title{
            color: #ffffff;
            font-family: @font-family-pt-serif-caption;
            font-size: 30px;
            padding-bottom: 34px;
        }
        .recommendations__list{
            .recommendations__item{
                vertical-align: top;
                background: #ffffff;
                margin-right: 20px;
                @media only screen and (max-width: 980px){
                    background: transparent;
                    margin-right: 0;
                }
                .recommendations__item-content{
                    display: block;
                    @media only screen and (max-width: 980px){
                        overflow: hidden;
                    }
                    .recommendations__item-img{

                        background: #ffffff;
                        img{
                            margin-left: -15px;
                            width: 100%;
                            min-width: 390px;
                            @media only screen and (max-width: 354px){
                                min-width: 280px;
                            }
                        }
                    }
                    .brief-info{
                        background: #ffffff;
                    }
                }
                &:first-child{
                    //margin: 0;
                }
            }
        }
        .recommendations__list--center{}
    }
}

/* Single room via avocode*/
/* Style for "About room" */
.about-room{
    .about-room__inner{
        .about-room__header{
            .brief-info__title--big{}
        }
        .about-room__information{
            .about-room__slider{
                .owl-item li img,
                .owl-item li{
                  @media only screen and (max-width: 980px){
                    width: 100%;
                  }

                }
                .about-room__slider-wrapper{
                    .about-room__slide-img{
                      img{
                          width: 100%;
                          min-width: 560px;
                          height: auto;
                          min-height: 397px;
                      }
                      span{
                          right: 20px;
                          top: 20px;
                          img{
                              width: 20px;
                              min-width: 20px;
                              height: 20px;
                              min-height: 20px;
                              background: rgba(1, 0, 0, 0.05);//bcs on the #ffffff bg - we can't to see zoom btn - to designer
                          }
                      }
                    }
                }
            }
            .about-room__wrapper{
                .room-description{
                    font-size: 16px;
                    line-height: 22px;
                    font-family: @font-family-fira-sans;

                    .room-description__title{
                        font-size: 26px;
                        font-family: @font-family-pt-serif-caption;
                        margin: 45px 0 25px 0;
                        &:first-child{
                            margin: 0 0 25px 0;
                        }
                    }

                }
                .room-description__list-of-features{
                    margin-bottom: 10px;
                    .room-description__item{
                        vertical-align: top;
                        margin-right: 20px;
                        ul .room-description__feature{
                            display: block;
                            b{
                                color: @color-warning;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Style for "recommendations--gray-bg" */
.recommendations--gray-bg{
    background: #f6f6f6;
    .recommendations__inner{
        .recommendations__title{

        }
        .recommendations__list{
            .recommendations__item{
                background: transparent;
                margin: 0;
                .recommendations__item-content{
                    display: block;
                    overflow: hidden;
                    .recommendations__item-img{

                    }
                    .brief-info{
                        .brief-info__title{}
                        .brief-info__sum{}
                    }
                }
            }
        }
        .recommendations__list--center{}
    }
}

.page-footer {
    width: 100%;
    box-shadow: 0 -1px 0 @border-color;
    overflow: hidden;
    .page-footer__inner {
        padding: 25px 0;
    }
    .page-footer__address {
        color: @color-base;
        font-family: @font-family-fira-sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }

    .page-footer__fast-contacts {
        a {
            color: @color-base;
            font-family: @font-family-fira-sans;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;

            &:hover {
                color: @color-warning;
            }
        }
    }
    .social-links li{
        a i{
            height: 20px;
            color: #0ab89d;
            font-size: 23px;
            font-weight: 400;
            line-height: 18px;
            margin-left: 15px;
        }
        &:first-child{
            margin: 0;
        }
    }
}

/* Rooms via avocode*/
.rooms{
    .rooms__header{
        width: 100%;
        background: url('../img/room_list/slider.jpg') 50% 50%;
        background-size: cover;
        text-align: center;
        color: #ffffff;
        padding: 40px 0;
        .rooms__header-title{
            font-size: 36px;
            line-height: 42px;
            font-family: @font-family-pt-serif-caption;
            font-weight: normal;
            margin-bottom: 30px;
        }
        .rooms__header-text{}
    }
    .room-categories{
        .room-categories__title{
            font-size: 36px;
            line-height: 42px;
            font-family: @font-family-pt-serif-caption;
            font-weight: normal;
            margin: 30px 0;
            text-align: center;
        }
        .room-categories__inner{

            .room-categories__list{
                .room-categories__item{
                    margin-bottom: 20px;
                    border: 1px solid @border-color;
                    background-color: #fafafa;
                    .room-categories__item-text{

                        .brief-info{

                            .brief-info__title{


                            }
                            .brief-info__sum{

                            }
                        }
                    }
                    .room-categories__img{
                        img{
                            width: 100%;
                        }
                    }
                    .room-categories__buttons{
                        margin-top: 20px;
                        .room-categories__btn{
                            @media only screen and (max-width: 600px){
                                display: block;
                                float: none;
                                text-align: center;
                                margin-top: 20px;
                            }
                        }
                        .room-categories__more{
                            background: transparent;
                            color: #333333;
                            padding: 10px 5px;
                            text-align: center;
                            @media only screen and (max-width: 600px){
                                display: block;
                                float: none;
                                text-align: center;
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Forms via avocode*/
.main-form{
    .booking{
        .booking__inner{

          padding: 50px 0;
            .booking__title{
              text-align: center;
              color: black;
              font-family: @font-family-pt-serif-caption;
              font-size: 30px;
              margin-bottom: 26px;
            }
            .booking__information{
              /* Base text style */
              width: 379px;
              height: 56px;
              font-family: @font-family-fira-sans;
              font-size: 16px;
              line-height: 20px;
              color: black;
              font-weight: 400;
                .booking__phone-number{
                  /* Text style for "+7 812 777-55-" */
                  color: #eb6a2f;
                  font-weight: 500;
                }

            }
        }
    }
    .date-of-rest{
      background-color: #f1f1f1;
        .date-of-rest__inner{
          padding: 50px 0;
            .date-of-rest__step{
              /* Text style for "Шаг 1" */
              color: #929292;
              font-family: @font-family-fira-sans;
              font-size: 14px;
              font-weight: 500;
              line-height: 18px;
              text-transform: uppercase;
              text-align: center;
            }
            .step{}
            .date-of-rest__title{
              text-align: center;
              color: @color-base;
              font-family: @font-family-pt-serif-caption;
              font-size: 26px;
              font-weight: 400;
              line-height: 19px;
            }
            .date-of-rest__choice.choice-block{
              background-color: #ffffff;
              border: 1px solid @border-color;
                .choice-block__item{
                    label{
                      width: 92px;
                      height: 12px;
                      color: #4c4c4c;
                      font-family: @font-family-fira-sans;
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 18px;
                      text-transform: uppercase;
                    }
                    input{
                      /* Style for "Left & Right c" */
                      width: 40px;
                      height: 27px;
                      background-color: #ffffff;
                      border: 1px solid @border-color;
                    }
                }
            }
        }
    }
    .place-for-living{
        .place-for-living__inner{
          padding: 50px 0;
            .place-for-living__step{
              color: #929292;
              font-family: @font-family-fira-sans;
              font-size: 14px;
              font-weight: 500;
              line-height: 18px;
              text-transform: uppercase;
              text-align: center;
            }
            .step{}
            .place-for-living__title{
              text-align: center;
              color: @color-base;
              font-family: @font-family-pt-serif-caption;
              font-size: 26px;
              font-weight: 400;
              line-height: 19px;
            }
            .place-for-living__list.choice-block{
                .place-for-living__item.choice-block__item{
                    .place-for-living__item--text{}
                }
            }
        }
    }
    .type-of-cottage{
        .type-of-cottage__inner{
          padding: 50px 0;
            .type-of-cottage__step{
              color: #929292;
              font-family: @font-family-fira-sans;
              font-size: 14px;
              font-weight: 500;
              line-height: 18px;
              text-transform: uppercase;
              text-align: center;
            }
            .type-of-cottage__title{
              text-align: center;
              color: @color-base;
              font-family: @font-family-pt-serif-caption;
              font-size: 26px;
              font-weight: 400;
              line-height: 19px;
            }
            .type-of-cottage__list-wrapper{
                .type-of-cottage__list.choice-block{
                    .type-of-cottage__item.choice-block__item{
                        .type-of-cottage__item-text.choice-block__item-text{}
                        .type-of-cottage__item-features-wrapper{
                            .type-of-cottage__item-features{
                                .type-of-cottage__item-feature{}
                            }
                        }
                    }
                }
            }
        }
    }
    .personal-data{
        .personal-data__wrapper{
            .personal-data__step.step{}
            .personal-data__title{}
            .personal-data__form{
                .personal-data__input-wrapper{
                    .personal-data__success{}
                    .personal-data__error{}
                }
            }
        }
    }
    .payment{
        .payment__wrapper{
            .payment__step.step{}
            .payment__title{}
            .payment__form-wrapper{
                .payment__form{
                    .type-of-payment{
                        .payment-on-place{
                            .payment-on-place__explanation{
                                .payment-on-place__choose{}
                                .payment-on-place__hint{}
                            }
                        }
                        .payment-now{
                            .payment-now__explanation{}
                        }
                        .payment-now__form{
                            .payment-now__col1{
                                .personal-data__success{}
                                .personal-data__error{}
                            }
                        }
                    }
                }
            }
            .sum-for-payment{
                .sum-for-payment__title{}
                .sum-for-payment__sum{}
                .sum-for-payment__warning{}
            }
            .payment__btn{
                .btn.btn--blue{}
            }
        }
    }

}